body, input, select, textarea, button, .ui-btn {
    font-family: 'ostrich_sanscondensed_regular' !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper,.ui-btn {
    text-shadow: none !important;
}

.form_at {/*padding buat login*/
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#border_button{
	margin-top: 20px;
}

.ui-header, .ui-footer {
 border-width: 0 0 !important;
}

.hop_logo{
    position: relative;    
    top: 75px;   
    margin: 0 auto;
}
.logo_underline{
    position: relative;
    top: 90px;
    margin: 0 auto;
}
.logo_underline_2{
    position: relative;
    top: 185px;
}
.sub_text{
    position: relative;
    top:40px;
    font-family: 'ostrich_sanscondensed_regular'!important;
    font-size: 150%;
    color: white;
    text-align: center;  
}
.sub_text_bottom{
 position: relative;
 top: 65px;
 padding: 10px;
 border: 1px solid white; 
 border-radius: 5px;  
 display: inline;
}
.slider{
  position: relative;
}

.slide{
    display: none;
}
.active-slide{
    display: block;
}
.page-one{
    min-height: inherit;
    background-size: cover;
    background-image: url(../img/page1.png);
    background-repeat: no-repeat;
}
.page-two{
    min-height: inherit;
    background-size: cover;
    background-image: url(../img/page2.png);
    background-repeat: no-repeat;
}
.page-three{
    min-height: inherit;
    background-size: cover;
    background-image: url(../img/page3.png);
    background-repeat: no-repeat;
}
.page-four{
    min-height: inherit;
    background-size: cover;
    background-image: url(../img/page4.png);
    background-repeat: no-repeat;
}
.page-five{
    min-height: inherit;
    background-size: cover;
    background-image: url(../img/page5.png);
    background-repeat: no-repeat;
}
.container{    
    font-size: 150%;    
    font-family: 'ostrich_sanscondensed_regular'!important;
    color: white;
    text-align: center;    
}
.container img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pic-icon{
    position: relative;
    top: 250px;
}
.blacktext{
    color: #000;
}
.text-top{
    position: relative;
    top: 100px;
    font-weight: bolder;
    font-size: 20pt;
}
.text-top-five{
    position: relative;
    top: 300px;
    font-size: 20pt;
    color: black !important;
}
.title{
    position: relative;
    top: 220px;
    font-size: 24pt;
    font-weight: bolder;
}
.sub-title{
    font-size: 11pt;
    letter-spacing: 1.5px;
}
.description{
    width: 200px;
    position: relative;
    top: 150px;
    margin:0 auto;
}
.getstarted{
    width: 120px;
    line-height: 18pt;
    margin:0 auto;
    border: 1px solid black; 
    border-radius: 5px;
    color: black;
    position: relative;
    top:310px;
    cursor: pointer;
}

.skipped{
    width: 60px;
    line-height: 18pt;
    margin:0 auto;
    border: 1px solid #BBBCBC; 
    border-radius: 5px;
    color: #BBBCBC;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}

.text-bottom{     
    padding: 10px;  
    display: inline;
    font-size: 20pt;
    color: black !important;
}
.slider-nav{
    position: absolute;
    bottom : 20px;
    left: 100px;
    text-align: center;
    display: inline;
}
.slider-dots{
    list-style: none;
    display: inline;
    padding-left: 0;
    margin-bottom: 0;
}
.slider-dots li{
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
}
.slider-dots li.active-dot {
  background-image: url(../img/round_fill.png) !important;
  background-repeat: no-repeat !important;
}
.slider-dots li.dot {
  background-image: url(../img/round_outline.png);
  background-repeat: no-repeat !important;
}
#border_button .ui-btn {
    border: none !important;
    background-color: #ffd42a;
}
